@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900");

.upload, .refresh {
  display: inline-block;
  border: none;
  align-items: center !important;
  justify-content: space-evenly !important;
  border-radius: .3em;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 -0.25em 0 rgba(0, 0, 0, 0.25), 0 0.25em 0.25em rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 -0.25em 0 rgba(0, 0, 0, 0.25), 0 0.25em 0.25em rgba(0, 0, 0, 0.05);
  color: #fff;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1px;
  padding: .5em 1.5em .75em;
  position: relative;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.25);
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.upload:active {
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 0.25em 0.5em rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 0.25em 0.5em rgba(0, 0, 0, 0.05);
  margin-top: .25em;
  padding-bottom: .5em;
}

.upload:active, .upload:focus {
  outline: none;
}

.upload::-webkit-file-upload-button {
  opacity: 0;
  margin-left: 3%;
}

.refresh {
  background-color: #f3786a;
}

.upload {
  background-color: #a69fc9;
}

.btn--lg {
  font-size: auto;
}

.btn--df {
  font-size: auto;
}

.btn--md {
  font-size: auto;
}

.btn--sm {
  font-size: auto;
}